/david.kovacsvolgyi/Homework3/KovacsvolgyiWebshop/KovacsvolgyiWebshop-ejb/target/
/david.kovacsvolgyi/Homework3/KovacsvolgyiWebshop/KovacsvolgyiWebshop-web/target/
/david.kovacsvolgyi/Homework3/KovacsvolgyiWebshop/KovacsvolgyiWebshop-ear/target/
/david.kovacsvolgyi/Homework3/KovacsvolgyiWebshop/target/
/david.kovacsvolgyi/Homework3/entityPractice/target/
/david.kovacsvolgyi/Homework5/entityPractice/target/
/david.kovacsvolgyi/Homework5/KovacsvolgyiEntity/target/
/david.kovacsvolgyi/Homework4/KovacscvolgyiAsynchronousCalls/KovacscvolgyiAsynchronousCalls-ejb/target/
/david.kovacsvolgyi/Homework4/KovacscvolgyiAsynchronousCalls/KovacscvolgyiAsynchronousCalls-web/target/
/david.kovacsvolgyi/Homework4/KovacscvolgyiAsynchronousCalls/KovacscvolgyiAsynchronousCalls-ear/target/
/david.kovacsvolgyi/Homework3/longstuff/nbproject/private/
/david.kovacsvolgyi/Homework3/longstuff/build/
/david.kovacsvolgyi/Homework4/KovacscvolgyiAsynchronousCalls/target/
/david.kovacsvolgyi/Homework3/SuperJMSexample/SuperJMSexample-ejb/target/
/david.kovacsvolgyi/Homework3/SuperJMSexample/SuperJMSexample-web/target/
/david.kovacsvolgyi/Homework3/SuperJMSexample/SuperJMSexample-ear/target/
/SendMessage/SendMessage-ejb/target/
/SendMessage/SendMessage-web/target/
/SendMessage/SendMessage-ear/target/
/david.kovacsvolgyi/Homework7/KovacsvolgyiJobFactory/KovacsvolgyiJobFactory-ejb/target/
/david.kovacsvolgyi/Homework7/KovacsvolgyiJobFactory/KovacsvolgyiJobFactory-web/target/
/david.kovacsvolgyi/Homework7/KovacsvolgyiJobFactory/KovacsvolgyiJobFactory-ear/target/
/david.kovacsvolgyi/Homework7/KovacsvolgyiJobFactory/target/