nb-configuration.xml
KovacsvolgyiThemePark/KovacsvolgyiThemePark-ejb/target/
KovacsvolgyiThemePark/KovacsvolgyiThemePark-ear/target/
KovacsvolgyiThemePark/KovacsvolgyiThemePark-web/target/
KovacsvolgyiThemePark/target/